:root{
    --branco: #FFF;
    --background-body: #333533;
    --cinza-escuro: #545454;
    --cinza-medio: #d6d6d6;
    --cinza-claro: #D9D9D9;
    --preto: #000000;
    --preto-fraco: #2C2C2B;
    --amarelo: #FFF83A;
    --amarelo-cyber: #FFD100;
    --background-top-footer: #202020;
    --montserrat: 'Montserrat', sans-sefir;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-body);
}

html{
    scroll-behavior: smooth;
}

.container{
    padding-right: 6%;
    padding-left: 6%;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}
